@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');

body {
  background: #EBF3FA
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 5%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.App>div:first-of-type {
  transform: rotate(180deg);
}